$primaryColor: #6f34fe;
$primaryColor2: #3f396d;
$primaryLightBgColor: linear-gradient(
  33deg,
  rgba(242, 242, 255, 1) 0%,
  rgba(235, 249, 255, 1) 100%
);
$primaryDarkColor: #07003b;
$secondaryColor: #fca61f;
$grayColor: #7d7789;
$pasteGreen: #56cbbd;

.text_primaryColor {
  color: $primaryColor;
}
.text_primaryDarkColor {
  color: $primaryDarkColor;
}
.text_secondaryColor {
  color: $secondaryColor;
}
.text_pasteGreen {
  color: $pasteGreen;
}
.text_underline_primaryColor {
  text-decoration: underline;
  color: $primaryColor;
}
.bg_primaryLightBgColor {
  background: $primaryLightBgColor;
}
