@mixin common_button(
  $bgColor,
  $textColor,
  $hoverBgColor,
  $hoverTextColor,
  $fontSize,
  $borderRadius
) {
  display: inline-block;
  background: linear-gradient(180deg, #fabf12 0%, #fb992d 100%);
  color: $textColor !important;
  font-size: $fontSize;
  transition: 500ms all ease-out;
  transition-property: transform;
  -webkit-transition: 500ms all ease-out;
  -moz-transition: 500ms all ease-out;
  -ms-transition: 500ms all ease-out;
  -o-transition: 500ms all ease-out;
  padding: 0.9em 2em;
  box-shadow: 0px 30px 50px 0px #fb992d66;
  border-radius: $borderRadius;
  -webkit-border-radius: $borderRadius;
  -moz-border-radius: $borderRadius;
  -ms-border-radius: $borderRadius;
  -o-border-radius: $borderRadius;
  &:hover {
    background: linear-gradient(180deg, #fb992d 0%, #fabf12 100%);
    color: $textColor;
    transform: translateY(-5px);
  }
}
@mixin common_underline_button($color, $hoverTextColor, $fontSize) {
  display: inline-block;
  color: $color;
  border-bottom: 2px solid $color;
  padding-bottom: 6px;
  line-height: 20px;
  font-size: $fontSize;
  transition: 500ms all ease-out;
  transition-property: transform;
  position: relative;
  &:hover {
    color: $hoverTextColor;
  }
  &::after {
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    content: "";
    position: absolute;
    background: $hoverTextColor;
    transition: ease-in-out 0.3s;
  }
  &:hover::after {
    width: 100%;
  }
}
@mixin animationShape($width, $height, $top, $bottom, $left, $right, $url) {
  content: "";
  width: $width;
  height: $height;
  position: absolute;
  @if ($top) {
    top: $top;
  }
  @if ($left) {
    left: $left;
  }
  @if ($bottom) {
    bottom: $bottom;
  }
  @if ($right) {
    right: $right;
  }
  z-index: 99;
  background: url($url) no-repeat top left;
  @include animation_moveY(-15px);
}
@mixin transition($time, $property) {
  transition-duration: $time;
  transition-property: $property;
  transition-timing-function: ease-out;
}
.common_btn {
  @include common_button(
    $primaryColor,
    white,
    $primaryColor,
    white,
    1em,
    100px
  );
}
.common_btn_disabled {
  @include common_button(#ff7268, white, #ff7268, white, 1em, 100px);
}
.common_btn_sm {
  @include common_button(
    $secondaryColor,
    white,
    $primaryColor,
    white,
    0.5em,
    100px
  );
  padding: 0.1em 2em;
}
.common_underline_btn {
  @include common_underline_button($primaryColor, $secondaryColor, 1.5em);
}
.common_underline_btn_sm {
  @include common_underline_button($primaryColor, $secondaryColor, 1em);
}
.common_underline_navLink {
  @include common_underline_button(#000000, $primaryColor, 1em);
  border-bottom: 2px solid transparent;
}
