$navColor: rgb(30, 182, 228);
$backgroundColor: rgba(226, 225, 225, 0.397);
$cardBackground: white;
.text-main{
  color: $navColor;
}
.card-background{
  background-color: $cardBackground;
  box-shadow: 0.5em 0.5em 1em rgba(117, 117, 117, 0.445);
}
.common-background{
  background-color: $navColor;
}
.other-background{
  background-color: $backgroundColor;
}
.icon:hover{
  color: black;
}
.profileImg{
    box-shadow: 0.5em 0.5em 1em rgba(61, 61, 61, 0.514);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}