@keyframes MoveXY {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
.animation_moveXY {
  transform: translateX(0);
  transition: 4s all ease-out;
  animation-name: MoveXY;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
