@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
@import "./fontawesome/scss/regular.scss";

@import "./variables/colors";
@import "./variables/mixin";
@import "./animations.scss";
@import "./responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.category_text {
  font-weight: 600;
  font-size: 1.375em;
  line-height: 24px;
  color: $primaryColor;
}
.heading_text {
  font-weight: 700;
  font-size: 3.25em;
  color: $primaryColor2;
  line-height: 53px;
}
.navigation_container {
  .my_logo {
    color: $primaryDarkColor;
    font-size: 1.25em;
  }
  .nav_menu {
    .nav_menu_icon {
      display: none;
    }
    ul {
      li {
        color: $primaryDarkColor;
        font-size: 1.25em;
        &.nav_active {
          color: $secondaryColor;
        }
        &:hover {
          color: $secondaryColor;
          transition: 300ms all ease-out;
          transform: rotate(-1deg);
        }
      }
    }
  }
}
.header_container {
  margin-top: 2em;
  .container {
    position: relative;
    .header_title {
      color: #3f396d;
      font-size: 3.25em;
      font-weight: 600;
    }
    .header_name {
      font-size: 4em;
      height: 93px;
      font-weight: 700;
    }
    .hireme_btn {
      padding: 0.9em 3.4em;
      font-size: 1.25em;
    }
    .header_description {
      font-family: "Lato", sans-serif;
      color: #7d7789;
      font-size: 1.37em;
      margin-bottom: 1.5em;
    }
    .header_image_container {
      position: relative;
      &::after {
        content: "";
        width: 36px;
        height: 36px;
        position: absolute;
        top: 25%;
        left: 0;
        z-index: 99;
        background: url("../assets/curn-icon.png") no-repeat top left;
        @include animation_moveY(-15px);
      }
      .header_img_card1 {
        &::after {
          @include animationShape(
            60px,
            60px,
            10%,
            "",
            "",
            0,
            "../../assets/half-circle.png"
          );
        }
        &::before {
          @include animationShape(
            36px,
            36px,
            "",
            10%,
            "",
            0,
            "../../assets/triangle-icon.png"
          );
        }
      }
    }
  }
}
.service_container {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 400px;
    width: 150px;
    top: 15%;
    left: 0;
    background: url("../assets/circle-bg-left-img.png") no-repeat top left;
  }
  &::before {
    @include animationShape(
      60px,
      60px,
      10%,
      "",
      100px,
      "",
      "../../assets/half-circle.png"
    );
  }
  .heading_text {
    &::before {
      @include animationShape(
        36px,
        36px,
        50%,
        "",
        "",
        250px,
        "../../assets/curn-icon.png"
      );
    }
  }
}
.social_icons_container {
  position: absolute;
  top: 50%;
  left: -15%;
  transform: translateY(-50%);
  .fa-brands {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.25em;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    &:hover {
      transform: translateY(-5px);
    }
    &.fa-facebook-f {
      color: #255afc;
      &:hover {
        background-color: #255afc;
        color: white;
      }
    }
    &.fa-linkedin-in {
      color: #1d74b1;
      &:hover {
        background-color: #1d74b1;
        color: white;
      }
    }
    &.fa-github {
      color: #f33a7e;
      &:hover {
        background-color: #f33a7e;
        color: white;
      }
    }
  }
}
.mouseFollowContainer {
  position: relative;
  .app_cursor1 {
    z-index: 999999999999999;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
  }
  .app_cursor2 {
    z-index: 999999999999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: black;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
  }
}
.service_card {
  background: #fff;
  border: 1px solid transparent;
  padding: 2.5em 2.25em;
  border-radius: 20px;
  box-shadow: 0 0 85px 0 #e9eefc;
  @include transition(500ms, transform);

  &:hover {
    border: 1px solid $primaryColor;
    transform: rotate(-1deg);
    .service_icon {
      img {
        transform: translateY(-10px);
      }
    }
  }
  h2 {
    color: $primaryColor2;
    font-weight: 700;
    font-size: 1.625em;
  }
  p {
    font-size: 1.125em;
    line-height: 1.75em;
    color: $grayColor;
    font-family: "Lato", sans-serif;
  }
  .service_icon {
    width: 228px;
    height: 130px;
    display: flex;
    background: #f4f9ff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    img {
      @include transition(500ms, transform);
    }
  }
}
.skill_card {
  background-color: white;
  padding: 2.06em 1.75em 2.18em;
  box-shadow: 0 0 5.31em 0 #e9eefc;
  border-radius: 1.25em;
}
