@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
@import "./fontawesome/scss/regular.scss";

@import "./variables/colors";
@import "./variables/mixin";
@import "./animations.scss";
@import "./responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: $primaryColor;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background-color: $secondaryColor;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.hireme_btn {
  position: relative;
  padding: 0.9em 3.4em;
  font-size: 1.25em;
}
.navigation_container {
  z-index: 999;
}
.category_text {
  font-weight: 600;
  font-size: 1.375em;
  line-height: 24px;
  color: $secondaryColor;
}
.heading_text {
  font-weight: 500;
  font-size: 3.25em;
  color: #000000;
  line-height: 53px;
  span {
    font-size: 1em;
    color: $primaryColor2;
  }
}
.navigation_container {
  .my_logo {
    font-size: 2em;
    font-weight: 700;
    background: linear-gradient(180deg, #fabf12 0%, #fb992d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav_menu {
    .nav_menu_icon {
      display: none;
      color: $primaryColor;
      cursor: pointer;
    }
    .nav_menu_ul_mobile {
      li {
        font-weight: 600;
        a {
          color: #000000;
        }
      }
    }
    ul {
      li {
        font-size: 1.25em;
        color: #000000;
        font-weight: 600;
        &.nav_active {
          color: $primaryColor !important;
        }
        &:hover {
          color: $primaryColor !important;
          transition: 300ms all ease-out;
          transform: rotate(-1deg);
        }
      }
    }
  }
}
.header_container {
  .container {
    position: relative;
    .header_title {
      color: #000000;
      font-size: 3.75em;
      font-weight: 500;
    }
    .header_name {
      font-size: 3.75em;
      // height: 93px;
      font-weight: 500;
    }
    .header_description {
      color: #1f1f1f;
      font-size: 1.25em;
      margin-bottom: 1.5em;
      width: 80%;
    }
    .header_image_container {
      position: relative;
      &::after {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: -100px;
        z-index: 99;
        background: url("/images/blue-star.png") no-repeat top left;
        @include animation_moveY(-15px);
      }
      .header_img_card1 {
        &::after {
          @include animationShape(
            40px,
            40px,
            -20px,
            "",
            "",
            0,
            "/images/green-star.png"
          );
        }
        &::before {
          @include animationShape(
            40px,
            40px,
            "",
            -50px,
            "",
            80px,
            "/images/blue-star.png"
          );
        }
      }
    }
  }
}
.service_container {
  position: relative;
  &::before {
    @include animationShape(
      60px,
      60px,
      0,
      "",
      100px,
      "",
      "/images/green-star.png"
    );
  }
  .heading_text {
    &::before {
      @include animationShape(
        40px,
        40px,
        "",
        -100px,
        "",
        220px,
        "/images/blue-star.png"
      );
    }
  }
}
.social_icons_container {
  position: absolute;
  top: 50%;
  left: -15%;
  transform: translateY(-50%);
}
.footer_social_icons {
  .fa-brands {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.25em;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    &:hover {
      transform: translateY(-5px);
    }
    &.fa-facebook-f {
      color: #255afc;
      &:hover {
        background-color: #255afc;
        color: white;
      }
    }
    &.fa-linkedin-in {
      color: #1d74b1;
      &:hover {
        background-color: #1d74b1;
        color: white;
      }
    }
    &.fa-github {
      color: #f33a7e;
      &:hover {
        background-color: #f33a7e;
        color: white;
      }
    }
  }
}
.mouseFollowContainer {
  position: relative;
  .app_cursor1 {
    z-index: 999999999999999;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
  }
  .app_cursor2 {
    z-index: 999999999999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: black;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0) translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
  }
}
.service_card {
  background: #fff;
  border: 1px solid transparent;
  padding: 2.5em 2.25em;
  border-radius: 30px;
  box-shadow: 0px 35px 65px rgba(0, 0, 0, 0.1);
  @include transition(500ms, transform);
  z-index: 9;

  &:hover {
    border: 1px solid $primaryColor;
    transform: rotate(-1deg);
    .service_icon {
      img {
        transform: translateY(-10px);
      }
    }
  }
  h2 {
    color: #000000;
    font-weight: 600;
    font-size: 1.375em;
    text-align: center;
  }
  p {
    font-size: 1.125em;
    color: #1f1f1f;
    text-align: center;
  }
  .service_icon {
    img {
      margin: 0 auto;
      width: 50%;
      @include transition(500ms, transform);
    }
  }
}
.skills_container {
  position: relative;
  &::before {
    @include animationShape(
      40px,
      40px,
      0,
      "",
      "",
      100px,
      "/images/green-star.png"
    );
  }
  .heading_text {
    &::before {
      @include animationShape(
        40px,
        40px,
        "",
        -100px,
        100px,
        "",
        "/images/blue-star.png"
      );
    }
  }
  .skill_card {
    background-color: white;
    padding: 2.06em 1.75em 2.18em;
    border-radius: 1.25em;
    box-shadow: 0px 35px 65px rgb(0 0 0 / 10%);
    z-index: 99;
    &:hover {
      box-shadow: 0px 35px 65px rgb(0 0 0 / 10%);
      transform: scale(1.05);
    }
  }
}
.portfolio_container {
  position: relative;
  .portfolio_card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 35px 65px rgb(0 0 0 / 10%);
    .portfolio_card_overlay {
      visibility: hidden;
      opacity: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0032387955182072714) 0%,
        rgba(17, 19, 43, 0.6755077030812324) 70%
      );
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      .portfolio_card_overlay_content {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1.5em;
        width: 100%;
      }
      .portfolio_card_overlay_heading {
        font-weight: 700;
        font-size: 1.125em;
        color: white;
      }
      .portfolio_card_overlay_p {
        font-size: 1em;
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }
      .portfolio_card_overlay_icon {
        background-color: $secondaryColor;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        i {
          color: white;
          font-size: 1.25em;
        }
      }
    }
    &:hover {
      .portfolio_card_overlay {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    background: url("/images/portfolio-left-img.png") no-repeat;
    top: 0;
    left: 0;
    height: 344px;
    width: 352px;
    opacity: 0.1;
  }
  &::before {
    content: "";
    position: absolute;
    background: url("/images/portfolio-right-img.png") no-repeat;
    bottom: 0;
    right: 0;
    height: 292px;
    width: 361px;
    opacity: 0.1;
  }
}
.contact_container {
  .contact_info_card {
    background-color: $primaryColor;
    border-radius: 28px;
    padding: 3em;
    color: white;
    .contact_list {
      h6 {
        font-size: 1.25em;
        font-weight: 600;
      }
      .contact_icon {
        width: 60px;
        height: 60px;
        background-color: $primaryLightBgColor;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: rgb(65, 65, 65);
          font-size: 2em;
          transition: 500ms all ease-out;
        }
      }
      &:hover {
        .contact_icon {
          i {
            transform: translateY(-7px);
          }
        }
      }
    }
  }
  .contact_form {
    position: relative;
    &::before {
      @include animationShape(
        40px,
        40px,
        0,
        "",
        -50px,
        50px,
        "/images/blue-start.png"
      );
    }
    .input_field,
    .input_field_textarea {
      width: 100%;
      box-shadow: 0 0 85px 0 #e9eefc;
      border: 1px solid #e9eefc;
      border-radius: 38px;
      padding: 1em 1.5em;
      outline: none;
      &:focus {
        border: 1px solid $primaryColor;
      }
    }
  }
}
.footer_container {
  position: relative;
  .my_logo {
    color: $primaryColor;
    font-weight: 600;
  }
  &::after {
    content: "";
    position: absolute;
    background: url("/images/portfolio-left-img.png") no-repeat;
    top: 0;
    left: 0;
    height: 344px;
    width: 352px;
    opacity: 0.1;
  }
  &::before {
    content: "";
    position: absolute;
    background: url("/images/portfolio-right-img.png") no-repeat;
    bottom: 0;
    right: 0;
    height: 292px;
    width: 361px;
    opacity: 0.1;
  }
}
.technology_box {
  display: inline-block;
  padding: 0.1em 1em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0.5em;
  background-color: $primaryColor;
  color: white;
  font-size: 0.7em !important;
}
.styles_scroll-to-top__2A70v {
  background-color: $primaryColor !important;
  padding: 1em !important;
  height: 50px !important;
  width: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  position: fixed !important;
  bottom: 30px !important;
  right: 30px !important;
  svg {
    width: 100% !important;
    height: 100% !important;
    color: white !important;
    transition: 500ms transform ease-out;
    -webkit-transition: 500ms transform ease-out;
    -moz-transition: 500ms transform ease-out;
    -ms-transition: 500ms transform ease-out;
    -o-transition: 500ms transform ease-out;
  }
  &:hover {
    svg {
      transform: translateY(-10px);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
    }
  }
}
