@mixin largeScreen {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 639px) {
    @content;
  }
}
@include largeScreen() {
  #mobile-nav-collapse-body {
    display: none !important;
  }
}
@include laptop() {
  .navigation_container {
    .nav_menu {
      ul {
        display: none;
      }
      .nav_menu_icon {
        display: block !important;
      }
    }
  }
}
@include mobile() {
  * {
    font-size: 10px;
  }
}
